NEXT_PUBLIC_API_URL=http://localhost:1337
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

GOOGLE_ID=
GOOGLE_SECRET=

TWITTER_ID=
TWITTER_SECRET=

LINKEDIN_ID=
LINKEDIN_SECRET=

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

NEXT_PUBLIC_GOOGLE_ANALYTICS=

GA_TRACK=